.wrapper {
    display: flex;
    margin-top: var(--default-layout-header-height);
    justify-content: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
    max-width: 100%;
    justify-content: space-between;
}

.content {
    margin-right: 16px;
    margin-left: 16px;
    width: calc(700px - (var(--default-layout-horizontal-spacer) * 2));
    max-width: calc(700px - (var(--default-layout-horizontal-spacer) * 2));
    padding: 24px 0;
    position: relative;
}

.sidebar {
    min-width: 356px;
    position: relative;
}
