.search,
.search-result {
    width: 361px;
}

.search {
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    background-color: var(--main-background-color);
    display: flex;
    height: var(--search-height);
    position: relative;
    border: 1.5px solid transparent;

    input {
        padding: 12px 42px 12px 0;
        font-size: 1.6rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--black-color);
        flex: 1;
        caret-color: var(--primary-color);
        font-family: var(--font-family);

        &:not(:placeholder-shown) ~ .search-btn {
            color: rgba(22, 24, 35, 0.75);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: var(--search-button-width);
        width: 1px;
        height: 28px;
        background-color: var(--main-border-color);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 12px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
}

.clear {
    cursor: pointer;
}

.loading {
    animation: rotate360 1s linear infinite;
}
@keyframes rotate360 {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    padding: 0 14px;
    color: rgba(22, 24, 35, 0.34);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

// Keywords List
.keyword-link {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.keyword-item {
    line-height: 22px;
    padding: 8px 16px;

    &:hover {
        background-color: rgb(22 24 35 / 3%);
    }
}

// Acoount list
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search-footer {
    padding: 15px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
    max-width: 100%;

    &:hover {
        background-color: rgb(22 24 35 / 3%);
    }
}

@media (max-width: 768px) {
    .search {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .search,
    .search-result {
        width: 312px;
    }
}
