.sidebar-scroll-container {
    position: fixed;
    margin-left: -8px;
}

.wrapper {
    padding: 20px 0 26px;
    max-height: calc(100vh - var(--default-layout-header-height));
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &:hover ~ .scrollbar {
        display: block;
    }
}

.scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.scrollbar-thumb {
    width: 6px;
    height: 100%;
    border-radius: 3px;
    background: rgba(22, 24, 35, 0.06);
}

@media (max-width: 1024px) {
    .wrapper {
        width: 55px;
        padding: 0 8px;

        overflow: visible;
    }
}
